<form class="form-horizontal">
    <fieldset>
        <legend>Edit a task</legend>

        <div class="control-group">
            <label class="control-label" for="edit-name">Name</label>
            <div class="controls">
                <input name="name" id="edit-name" type="text" placeholder="Name" ng-model="task.name"/>
            </div>
        </div>
        <br/>
        <div class="form-actions">
            <a class="btn btn-primary" role="submit" ng-click="update()">Edit</a>
            <a class="btn btn-default" role="button" href="#/">Cancel</a>
        </div>

    </fieldset>
</form>